/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$blue: #3f729b;

html, body{
	font-family: "proxima-nova", "Helvetica Neue", arial, sans-serif;
	font-size: 14px;
	color: #444;
	box-sizing: border-box;
	max-width: 100%;
	background: #edeeef url("../img/noise-2.png");
}

*{
	box-sizing: inherit;
}

a{
	color: $blue;
	text-decoration: none;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	
	&:hover{
		text-decoration: underline;
	}
}

.wrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 414px;
	min-width: 320px;
	float: none;
	padding-bottom: 70px;
}

header{
	background: $blue;
	height: 44px;
	width: 100%;
	text-align: center;
	background-image: url("../img/noise-2.png"), -webkit-linear-gradient(top,#517fa4,#306088);
	top: 0;
	left: 0;
	position: relative;
	
	.home{
		position: absolute;
		left: 0;
		top: 0;
		width: 44px;
		height: 44px;
		border-left: none;
		background-color: #1c5380;
		background-color: rgba(6,54,95,.35);
		box-shadow: -1px 0 0 rgba(255,255,255,.15),inset 0 0 1px rgba(6,54,95,.4),inset 1px 0 1px rgba(6,54,95,.4);
		
		i{
			background: url("../img/shared-assets.png") no-repeat 6px -194px;
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
	
	.logo{
		height: 35px;
		width: 97px;
		background: url("../img/shared-assets.png") no-repeat 0 4px;
		background-image: url("../img/shared-assets@2x.png");
		background-size: 150px 600px;
		position: relative;
		top: 4px;
		margin: 0 auto;
		text-indent: -9999em;
	}
	
	.profile{
		position: absolute;
		right: 0;
		top: 0;
		padding: 11px 11px 13px 12px;
		border-right: 1px solid #06365f;
		border-right-color: rgba(0,0,0,.1);
		box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
		text-shadow: 0 1px 0 rgba(3,27,47,.5);
		border-left: 1px solid #06365f;
		border-left-color: rgba(0,0,0,.1);
		
		img{
			width: 24px;
			height: 24px;
		}
	}
}

.timelineContainer{
	
	.timelineItem{
		
		.timelineSidebar{
			padding: 12px 4px 0;
			height: 44px;
			width: 100%;
			line-height: 32px;
			
			.profilePic{
				float: left;
				margin-left: 2px;
				
				img{
					width: 32px;
					height: 32px;
				}
			}
			
			.username{
				float: left;
				padding-left: 8px;
				text-shadow: 0 1px 0 rgba(255,255,255,.8);
			}
			
			.timestamp{
				float: right;
				margin-right: 5px;
				color: #999;
				font-weight: 700;
				text-shadow: 0 1px 0 rgba(255,255,255,.8);
			}
		}
		
		.timelineCenter{
			padding: 8px 4px;
			
			.card{
				background: #fafafa;
				border: 1px solid silver;
				border-radius: 3px;
				box-shadow: 0 1px 16px rgba(0,0,0,.1);
				text-align: left;
				
				& > img{
					// this is the photo
					width: 100%;
				}
				
				.likesBar{
					position: relative;
					height: 40px;
					border-bottom: 1px solid #ddd;
					margin: 1px 0 -1px;
					background: #e6e6e6 url("../img/white-gradient-100px.png") repeat-x 50% 50%;
					box-shadow: inset 0 0 0 1px rgba(255,255,255,.15),0 0 3px rgba(0,0,0,.1);
					text-shadow: 0 1px 0 rgba(255,255,255,.8);
					text-overflow: ellipsis;
					
					.like{
						background-image: url("../img/feed-assets@2x.png");
						position: relative;
						float: left;
						display: inline;
						height: 100%;
						width: 48px;
						background: url("../img/feed-assets.png") no-repeat 8px 6px;
						border-right: 1px solid #ddd;
						box-shadow: 1px 0 0 rgba(255,255,255,.9);
						background-size: 100px 1000px;
					}
					
					.more{
						background-image: url("../img/feed-assets@2x.png");
						background-size: 100px 1000px;
						background: url("../img/feed-assets.png") no-repeat 7px -94px;
						border-left: 1px solid #ddd;
						box-shadow: inset 1px 0 0 rgba(255,255,255,.9);
						float: right;
						display: block;
						cursor: pointer;
						height: 100%;
						width: 48px;
					}
					
					.likeList{
						line-height: 16px;
						margin: 0 52px 0 48px;
						padding: 12px 0 12px 12px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				
				.commentArea{
					
					.caption{
						border-bottom: 1px solid #e6e6e6;
						padding: 10px 8px 10px 12px;
						margin-bottom: 0;
						word-wrap: break-word;
						box-shadow: 0 1px 2px rgba(0,0,0,.04);
						border-bottom: 1px solid #e6e6e6;
						
						.username{
							margin: 0 .4em 0 0;
						}
						
						.captionText{
							
						}
					}
					
					.comments{
						padding: 12px 0 0;
						
						.comment{
							padding: 4px 8px 0 12px;
							
							.commentAuthor{
								margin: 0 .4em 0 0;
							}
							
							.commentText{
								
							}
						}
					}
					
					.composer{
						padding: 12px;
						margin-bottom: 0;
						
						input[type=text]{
							border: 1px solid #ccc;
							background-color: rgba(255,255,255,.2);
							width: 100%;
							margin: 0;
							padding: 8px 9px 7px;
							border-color: #d8d8d8;
							border-radius: 2px;
							-webkit-font-smoothing: antialiased;
							-webkit-appearance: none;
						}
					}
				}
			}	
		}
	}
}

footer{
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
	
	ul{
		padding: 0;
		font-size: 0;
		margin: 0 auto;
		max-width: 414px;
		min-width: 320px;

		li{
			display: inline-block;
			width: 20%;
			height: 100%;
			margin: 0;
			padding: 0;
			
			
			a{
				
				img{
					width: 100%;
				}
			}
		}
	}
}

.nav, .notifications, .me{
	padding-bottom: 58px;
	
	header{
		background: #125688;
		height: 65px;
		padding: 12px 0 8px;
		
		form{
			
			::-webkit-input-placeholder {
			   color: white;
			}
			
			:-moz-placeholder { /* Firefox 18- */
			   color: white;  
			}
			
			::-moz-placeholder {  /* Firefox 19+ */
			   color: white;  
			}
			
			:-ms-input-placeholder {  
			   color: white;  
			}
			
			input{
				background: #0e4167;
				text-align: center;
				width: 90%;
				margin: 10px auto;
				line-height: 30px;
				color: white;
				border: none;
				border-radius: 5px;
				font-family: Arial, FontAwesome;
			}
		}
	}
	
	nav{
		height: 50px;
		display: block;
		background: white;
		font-size: 0;
		box-shadow: 1px 0 0 rgba(255,255,255,.1);
		border-bottom: 1px #ccc solid;
		
		a{
			line-height: 46px;
			text-transform: uppercase;
			font-size: 16px;
			display: inline-block;
			width: 25%;
			margin: 0 12.5%;
			text-align: center;
			border-bottom: $blue 4px solid;
			
			
			&:not(.active){
				color: #111;
				border: none;
			}
			
			&:hover{
				text-decoration: none;
			}
		}
	}
	
	ul{
		list-style-type: none;
		padding: 0;
		font-size: 0;
		display: inline-block;
		
		li{
			display: inline-block;
			width: 33.33%;
			float: left;
			margin: 0;
			
			img{
				width: 100%;
			}
		}
	}
}

.notifications{
	
	header{
		height: 50px;
		padding-top: 8px;
		position: fixed;
		
		h2{
			color: white;
			line-height: 40px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0;
		}
	}
	
	nav{
		position: fixed;
		top: 50px;
		width: 100%;
		height: 50px;
		max-width: 414px;
		min-width: 320px;
	}
	
	ul.notifs{
		font-size: inherit;
		margin: 0;
		padding-top: 100px;
		
		li{
			width: 100%;
			padding: 8px;
			background: white;
			margin: 0;
			border-bottom: #ccc 1px solid;
			
			img{
				height: 32px;
				width: auto;
				max-width: 10%;
				
				&.prof{
					border-radius: 16px;
					float: left;
				}
				
				&.preview{
					float: right;
				}
			}
			
			span{
				line-height: 32px;
				padding: 0 8px;
				max-width: 80%;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				white-space: nowrap;
				
				i{
					font-style: normal;
					color: #999;
					font-weight: 200;
				}
			}
			
		}
	}
}

.me{
	padding: 50px 0 0;
	background: white;
	
	header{
		color: white;
		position: relative;
		height: 50px;
		position: fixed;
		
		h2{
			margin: 0 auto;
			font-weight: 400;
			text-transform: uppercase;
			width: 100%;
			max-width: 414px;
			min-width: 320px;
			
			span{
				float: right;
				margin-right: 12px;
				line-height: 29px;
			}
		}
	}
	
	.stats{
		display: table;
		
		.prof{
			display: table-cell;
			width: 33.33%;
			padding: 20px;
			
			img{
				width: 100%;
				border-radius: 50%;
			}
		}
		
		ul{
			display: table-cell;
			vertical-align: top;
			padding-top: 30px;
			padding-right: 20px;
			width: 66.66%;
			font-size: 14px;
			
			li{
				display: inline-block;
				width: 30%;
				margin-bottom: 10px;
				text-align: center;
				float: none;
				
				span{
					
					&:first-of-type{
						font-weight: bold;
						display: block;
						line-height: 10px;
					}
					
					&:last-of-type{
						color: #aaa;
					}
				}
			}
			
			div{
				width: 100%;
				
				a{
					display: block;
					width: 100%;
					background: #eee;
					border-radius: 3px;
					color: #333;
					text-align: center;
					line-height: 40px;
					
					&:hover{
						text-decoration: none;
						background: #ccc;
					}
				}
			}
		}
	}
	
	.about{
		padding: 0 20px 5px;
		
		h4{
			margin:0;
		}
		
		p{
			margin: 10px 0;
		}
	}
	
	ul.options{
		background: white;
		padding: 10px 0;
		border-top: #ccc 1px solid;
		border-bottom: #ccc 1px solid;
		display: block;
		
		li{
			width: 25%;
			padding: 2px 10px;
			float: none;
			border-right: 1px #ccc solid;
			text-align: center;
			
			img{
				height: 22px;
				width: auto;
			}
			
			&:last-of-type{
				border-right: none;
			}
		}
	}
	
	ul.photos{
		
		li{
			height: 150px;
			line-height: 150px;	
			background: white;		
			
			img{
				line-height: 150px;
				vertical-align: middle;
			}
		}
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.aprilFools{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
        
    padding-bottom: 75px;
	
	h1{
		text-align: center;
		vertical-align: bottom;
		margin-top: 50px;
		font-size: 3em;
	}
	
	.caption{
		width: 90%;
		margin: 10px auto 30px;
		background: rgba(255,255,255,.5);
		border: #999 1px solid;
		border-radius: 3px;
		padding: 10px 5px;
		text-align: center;
	}
	
	h2{
		margin: 40px 5% 20px;
	}
	
	ol{
		text-align: left;
		padding: 0 20px;
		
		li{
			margin: 10px;
			display: table;
			
			img{
				max-width: 40px;
				margin-right: 15px;
				display: table-cell;
			}
			
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}
		
		h2{
			margin: 10px;
		}
		
		.box{
			background: rgba(255,255,255,.5);
			border: #999 1px solid;
			border-radius: 3px;
			margin: 0 10px;
			
			ol{
				list-style-type: upper-latin;
				
				li{
					margin: 25px 0;
				}
			}
			
			h2{
				text-align: center;
				margin: 20px auto;
			}
		}
		
		ul{
			padding: 0;
			
			li{
				border: #999 1px solid;
				border-radius: 3px;
				display: block;
				padding: 10px 10px;
				margin: 15px 0;
				background: rgba(0,0,0, .1);
			}
		}
	}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}